<div data-role="header" data-position="fixed">
	<h1>Terms of use</h1>
  <%= render :partial => "images/back_button" -%>
</div>

<div data-role="content">
  <p>
    By using and/or visiting MobiGallery ("Website") you agree to all of these
    terms and conditions. If there are any terms and conditions to which you do not agree,
    please do not use the Website.
  </p>

  <p>
    All the content within the MobiGallery came from public websites around the web.
    We do not claim any copyrights or responsibilities above the Website's content.
  </p>

  <p>
    You are free to <%= link_to "contact us", :action => :contact_us -%> and request a
    picture to be removed at any time. Do not forget to send us the picture's url
    (the address shown under each item).
  </p>

</div>

<%= render :partial => "images/rodape" -%>
