<!DOCTYPE html>

<html>

	<head>
  	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, user-scalable=0"/>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>

  	<title>MobiGallery ;)</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css"/>

    <style type="text/css">
      .message {font-weight: bold;}
      .alert {color: #d8000c;}
      .success {color: #4f8a10;}
      .picture {text-align: center;}
      .picture img {height: 70%; border: 7px solid #ffffff;}
      .picture small {font-style: italic;}
    </style>

    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js"></script>
  </head>

  <body>

    <div data-role="page">
      <%= @content_for_layout -%>
    </div>

  </body>

</html>
